*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: aqua;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.cotainer{
    height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 113, 27)

}
.left-section,
.form-section{
    width: 50%;
    height: 80vh;
}
.left-section{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: wheat;

}
.form-section h1 {
    margin-bottom: 10px;
    color: #333;
}

.form-section p {
    margin-bottom: 25px;
    color: #666;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: darkmagenta;
}

